<footer>
<div class="container">
<div class="row">
<div class="col-lg-3 col-sm-6">
<div class="single-box">
<img src="../assests/img/logo.png" class="img-fluid mb-3" alt="logo" width="80" height="54">
<p data-lang = "Footer_Paragraph_Text">Empowering Minds, Igniting Futures - Edu - Unlocking Knowledge, Inspiring Excellence, and Nurturing Tomorrow's Leaders.</p>
<small>Copyright &copy; 2024 Repixel, Inc.</small>
</div>
</div>
<div class="col-lg-3 col-sm-6">
<div class="single-box px-lg-5 px-md-5">
<h2 data-lang="Footer_Useful_Links_Text">Useful Links</h2>
<ul>
<li><a href="/account" data-lang="Footer_Useful_Account_Text">Account</a></li>
<li><a href="/contact" data-lang="Footer_Useful_Contact_Text">Contact</a></li>
</ul>
</div>                    
</div>
<div class="col-lg-3 col-sm-6">
<div class="single-box">
<h2 data-lang="Footer_Social_Links_Text">Social Media</h2>
<ul style="font-size: 25px;">
<li><a href="" style="color: #316FF6;"><i class="fa-brands fa-facebook"></i></a></li>
<li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>

</ul>
</div>                    
</div>
<div class="d-flex align-items-center justify-content-end mb-3">
<a id="back-to-top" href="#" class="btn btn-light btn-lg back-to-top" role="button"><i class="fas fa-chevron-up"></i></a>
</div>
</div>
</div>
</footer>