<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Edu</title>
<link rel="apple-touch-icon" sizes="180x180" href="../assests/img/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="../assests/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="../assests/img/favicon-16x16.png">
<link rel="manifest" crossorigin="use-credentials" href="../assests/img/site.webmanifest">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../assests/css/bootstrap.css">
<link rel="stylesheet" href="../assests/css/all.min.css">
<link rel="stylesheet" href="../assests/css/main.css">
<link rel="stylesheet" href="../assests/css/login.css">
<meta property="og:title" content="Edu Repixel" />
<meta property="og:description" content="Edu Repixel Best Website For Education" />
<meta property="og:image" content="https://cdn.discordapp.com/attachments/803305331911819284/1199430620028338176/LOGO_REPIXEL.png?ex=663b2510&is=6639d390&hm=cfa24c146717cee05a35a84b45c03cc753cd39fbea8ceec323c2a15ad972ba89&" />
</head>
<body>

<div id="preloader"></div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<main>

      
<div class="container">
<div class="row">
<div class=" d-flex align-items-center justify-content-center">
<div class="panel border bg-white">
<div class="panel-heading">
<h3 class="pt-3 font-weight-bold" data-lang="Forget_Password_Header">Forget Password</h3>
</div>
<div class="panel-body p-3">
<form action="/forget_password" method="POST">

<div class="form-group py-2">
<div class="input-field"> <span class="far fa-user p-2"></span> <input type="text" placeholder="Email" data-lang="Signup_Email_Text" required name="email"> </div>
</div>

<div class="text-center">
<button type="submit" class="btn btn-primary btn-block mt-5" data-lang="Forget_Password_SendButton">Send</button>
</div>
<div class="text-center pt-5 text-muted"><span data-lang="Forget_Password_Remeber_Password">Remember Password ?</span> <a href="/login" data-lang="Forget_Password_Remeber_Password_Login">Login</a> </div>
</form>
</div>

</div>
</div>
</div>
</div>
</main>


<script src="../assests/js/bootstrap.bundle.min.js"></script>
<script src="../assests/js/all.min.js"></script>
<script src="../assests/js/loader.js"></script>
<script src="../assests/js/language.js"></script>
</body>
</html>
