/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&family=Poppins:wght@600&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

:root{
/* ===== Colors ===== */
--body-color: #E4E9F7;
--sidebar-color: #FFF;
--primary-color: #89A1BD;
--primary-color-light: #F6F5FF;
--toggle-color: #DDD;
--text-color: #707070;

/* ====== Transition ====== */
--tran-03: all 0.2s ease;
--tran-03: all 0.3s ease;
--tran-04: all 0.3s ease;
--tran-05: all 0.3s ease;
}

body{
min-height: 100vh;
background-color: var(--body-color) !important;
transition: var(--tran-05);
font-family: 'Poppins', sans-serif;
}

::selection{
background-color: var(--primary-color);
color: #fff;
}

/* ===== Sidebar ===== */
.sidebar{
position: fixed;
top: 0;
left: 0;
height: 100%;
width: 250px;
padding: 10px 14px;
background: var(--sidebar-color);
transition: var(--tran-05);
z-index: 100;  
}
.sidebar.close{
width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li{
height: 50px;
list-style: none;
display: flex;
align-items: center;
margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
min-width: 60px;
border-radius: 6px;
}

.sidebar .icon{
min-width: 60px;
border-radius: 6px;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
color: var(--text-color);
transition: var(--tran-03);
}

.sidebar .text{
font-size: 17px;
font-weight: 500;
white-space: nowrap;
opacity: 1;
}
.sidebar.close .text{
opacity: 0;
}
/* =========================== */

.sidebar header{
position: relative;
}

.sidebar header .image-text{
display: flex;
align-items: center;
}
.sidebar header .logo-text{
display: flex;
flex-direction: column;
}
header .image-text .name {
margin-top: 2px;
font-size: 18px;
font-weight: 600;
}

header .image-text .profession{
font-size: 16px;
margin-top: -2px;
display: block;
}

.sidebar header .image{
display: flex;
align-items: center;
justify-content: center;
}

.sidebar header .image img{
width: 40px;
border-radius: 6px;
}

.sidebar header .toggle{
position: absolute;
top: 50%;
right: -25px;
transform: translateY(-50%) rotate(180deg);
height: 25px;
width: 25px;
background-color: var(--primary-color);
color: var(--sidebar-color);
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
font-size: 22px;
cursor: pointer;
transition: var(--tran-05);
}



.sidebar.close .toggle{
transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
margin-top: 40px;
}

.sidebar li.search-box{
border-radius: 6px;
background-color: var(--primary-color-light);
cursor: pointer;
transition: var(--tran-05);
}

.sidebar li.search-box input{
height: 100%;
width: 100%;
outline: none;
border: none;
background-color: var(--primary-color-light);
color: var(--text-color);
border-radius: 6px;
font-size: 17px;
font-weight: 500;
transition: var(--tran-05);
}
.sidebar li a{
list-style: none;
height: 100%;
background-color: transparent;
display: flex;
align-items: center;
height: 100%;
width: 100%;
border-radius: 6px;
text-decoration: none;
transition: var(--tran-03);
}

ol, ul {
    padding-left: 0 !important;
}
.sidebar li a:hover{
background-color: var(--primary-color);
}

.sidebar li a.active{
background-color: var(--primary-color);
}
.sidebar li a.active .icon,
.sidebar li a.active .text{
color: var(--sidebar-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text{
color: var(--sidebar-color);
}


.sidebar .menu-bar{
height: calc(100% - 55px);
display: flex;
flex-direction: column;
justify-content: space-between;
}
.menu-bar::-webkit-scrollbar{
display: none;
}
.sidebar .menu-bar .mode{
border-radius: 6px;
background-color: var(--primary-color-light);
position: relative;
transition: var(--tran-05);
}

.menu-bar .mode .sun-moon{
height: 50px;
width: 60px;
}

.mode .sun-moon i{
position: absolute;
}
.mode .sun-moon i.sun{
opacity: 0;
}


.menu-bar .bottom-content .toggle-switch{
position: absolute;
right: 0;
height: 100%;
min-width: 60px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 6px;
cursor: pointer;
}
.toggle-switch .switch{
position: relative;
height: 22px;
width: 40px;
border-radius: 25px;
background-color: var(--toggle-color);
transition: var(--tran-05);
}

.switch::before{
content: '';
position: absolute;
height: 15px;
width: 15px;
border-radius: 50%;
top: 50%;
left: 5px;
transform: translateY(-50%);
background-color: var(--sidebar-color);
transition: var(--tran-04);
}


.home{
position: absolute;
top: 0;
top: 0;
left: 250px;
height: 100vh;
width: calc(100% - 250px);
transition: var(--tran-05);
}
.home .text{
font-size: 30px;
font-weight: 500;
color: var(--text-color);
padding: 12px 60px;
text-align: center;
}

.sidebar.close ~ .home{
left: 78px;
height: 100vh;
width: calc(100% - 78px);
}

section{
background-color: var(--body-color);
}
.dropdown button {
    background-color: #253849;
    min-width: 130px;
    width: max-content;
    height: 40px;
    border-radius: 5px;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    justify-content: space-evenly;
  }
  .dropdown button img {
    margin: 0 5px 0 0;
  }
  .dropdown button img,
  .dropdown-content li img {
    width: 28px;
  }
.dropdown button,
.dropdown-content li {
display: flex;
align-items: center;
font-size: 14px;
font-family: 'Poppins', sans-serif;
font-family: 'Cairo', sans-serif;
font-weight: 500;
}
  .arrow-down {
    width: 0;
    height: 0;
    display: inline-block;
    vertical-align: middle;
    border-style: solid;
    border-width: 4px 4px 0 4px;
    border-color: #fff transparent transparent transparent;
    margin: 0 0 0 5px;
  }
  
  .dropdown button:hover {
    cursor: pointer;
    background-color: #3c5b77;
  }
  /* Style for the dropdown content */
  .dropdown-content {
    display: none;
    position: absolute;
    margin: 1px 0 0 0;
    padding: 0;
    background-color: #f5f5f5;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    overflow-y: scroll;
    max-height: 315px;
  }
  /* Style for the dropdown content items */
  .dropdown-content li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    justify-content: end;
  }
  .dropdown-content li img {
    margin: 0 20px 0px 20px;
  }
  .file-input-hidden {
    display: none;
  }
  
  .custom-btn {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }

  .custom-btn:hover {
    background-color: #0056b3;
  }
  /* Style for the dropdown content items on hover */
  .dropdown-content li:hover {
    background-color: #f1f1f1;
    cursor: pointer;
    color: blue;
    border-radius: 5px;
  }
  /* Show the dropdown content when the dropdown button is clicked */
  .dropdown:focus-within .dropdown-content {
    display: block;
  }
  /* Animate the dropdown content */
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .dropdown-content {
    animation: slideIn 0.3s ease-out;
  }
  /* Scrollbar styles */
  ::-webkit-scrollbar {
    width: 8px;
    height: 10px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #c2c9d2;
  }
  