<!DOCTYPE html>
<html>
<head>
<title>Edu - Login</title>
<script src="../assests/js/language.js"></script>
<link rel="apple-touch-icon" sizes="180x180" href="../assests/img/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="../assests/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="../assests/img/favicon-16x16.png">
<link rel="manifest" crossorigin="use-credentials" href="../assests/img/site.webmanifest">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../assests/css/bootstrap.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="../assests/css/login.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css" integrity="sha512-O03ntXoVqaGUTAeAmvQ2YSzkCvclZEcPQu1eqloPaHfJ5RuNGiS4l+3duaidD801P50J28EHyonCV06CUlTSag==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="bg-primary">
<div id="preloader"></div>
<script>
let error = '<%= error %>';
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js" integrity="sha512-Zq9o+E00xhhR/7vJ49mxFNJ0KQw1E1TMWkPTxrWcnpfEFDEXgUiwJHIKit93EW/XxE31HSI5GEOW06G6BF1AtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<section class=" py-3 py-md-5 py-xl-8">
<div class="container">
<div class="row gy-4 align-items-center">
<div class="col-12 col-md-6 col-xl-7">
<div class="d-flex justify-content-center text-bg-primary">
<div class="col-12 col-xl-9">
<img class="img-fluid rounded mb-4" loading="lazy" src="../assests/img/logo.png" width="100" height="80" alt="Logo">
<hr class="border-primary-subtle mb-4">
<h1 class="mb-4 text-xs-center" data-lang="Login_Page_F_Header">We Help You Get Full Marks</h1>
<p class="lead mb-0"  data-lang="Login_Page_D_Paragraph">We Offer You A Whole Exam,Quiz Library For Free Just Register And Go.</p>
<div class="text-endx">
<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-grip-horizontal" viewBox="0 0 16 16">
<path d="M2 8a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
</svg>
</div>
</div>
</div>
</div>
<div class="col-12 col-md-6 col-xl-5">
<div class="card border-0 rounded-4">
<div class="card-body p-3 p-md-4 p-xl-5">
<div class="row">
<div class="col-12">
<div class="mb-4">
<h3 class="text-center"  data-lang="Login_Page_Header_Text">Login</h3>
</div>
</div>
</div>
<form action="/login" method="POST" novalidate id = "login_form">
<div class="row gy-1 overflow-hidden">
<div class="col-12">
<div class="form-floating mb-3">
<input type="email" class="form-control " data-lang="Login_Page_Email_Text" name="email" id="email" placeholder="name@example.com" required>
<label for="email" class="form-label"  data-lang="Login_Page_Email_Text">Email</label>

</div>
</div>
<div class="col-12">
<div class="form-floating mb-3">
<i id = "password-icon" class="fa fa-eye-slash password-icon"></i>
<input type="password" class="form-control" name="password" data-lang="Login_Page_Password_Text" id="password" value="" placeholder="Password" required>
<label for="password" class="form-label" data-lang="Login_Page_Password_Text">Password</label>


</div>
</div>
<div class="col-12">
<div class="form-check">
<input class="form-check-input" type="checkbox" value="" name="remember_me" id="remember_me">
<label class="form-check-label text-secondary" for="remember_me" data-lang="Login_Page_Remember_Me">
Keep me logged in
</label>
</div>
</div>
<p class="text-center"><span data-lang="Login_Page_DontHaveAccount_Text">Don't have an account?</span> <a href="/signup" data-lang="Login_Page_DontHaveAccount_Text2">Sign up</a></p>
<div class="col-12">
<div class="d-grid">
<button class="btn btn-primary btn-lg" type="button" data-lang="Login_Page_LoginButton_Text" id="login_button">Log in</button>
</div>
</div>
</div>
</form>
<div class="row">
<div class="col-12">
<div class="d-flex gap-2 gap-md-4 flex-column flex-md-row justify-content-md-end mt-4">
<a href="/forget-password" data-lang="Login_Page_ForgetPassword_Text">Forgot password ?</a>
</div>
</div>
</div>

</div>
</div>
</div>
</div>
</div>
</section>

<script src="../assests/js/bootstrap.bundle.min.js"></script>

<script src="../assests/js/loader.js"></script>
<script src="../assests/js/login.js"></script>
<script src="../assests/js/error.js"></script>
</body>
</html>